.Hero {
  height: 100vh;
  width: 100%;
  padding: 40px 8em 20px 8em;

  @include mobile {
    padding: 3em 4em;
  }
}

.Hero1 {
  background-color: $primary;
  display: flex;
  background-image: url('../images/wave-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  @include mobile {
    flex-direction: column;
    // gap: 4em;
  }

  .left {
    overflow: hidden;
    width: 50%;
    align-self: center;

    @include mobile {
      width: 100%;
    }

    h1 {
      line-height: 1.3em;

      @include mobile {
        text-align: center;
      }
    }

    p {
      padding: 1em 0;
      color: $text-light;
      max-width: 400px;

      @include mobile {
        text-align: center;
      }
    }

    button {
      padding: 15px;
      width: 50%;
      margin: 2em 0;
      background-color: $secondary;
      color: $white;
      font-weight: bold;

      @include mobile {
        width: 100%;
      }

      &:hover {
      }
    }
  }

  .right {
    width: 50%;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }
    img {
      max-width: 100%;
      max-height: 500px;
    }
  }
}

.Hero2 {
  height: 100%;
  h1 {
    text-align: center;
    color: $text-light;
    font-size: $font-md;
  }

  section.sponsors {
    // width: 70%;
    margin-top: 4em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    gap: 4em;

    ul {
      display: inline-flex;
      align-items: center;
      gap: 4em;

      li {
        img {
          width: 9em;
          height: auto;

          @include mobile {
            width: 4em;
            // gap: 4em;
          }
        }
      }
    }
  }

  section.grid {
    margin-top: 70px;
    margin-bottom: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .left {
      .video {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: #e8e8e8;
        display: flex;
        justify-content: center;
        align-items: center;

        .play {
          width: 104px;
          height: 104px;
          border-radius: 100%;
          color: #93c81d;
          cursor: pointer;
        }
      }
    }
    .right {
      justify-content: center;
      align-self: center;

      h2 {
        font-size: 1.6rem;
        font-weight: bold;
        max-width: 400px;
      }

      p {
        padding: 1em 0;
        color: $text-light;
        max-width: 400px;
        line-height: 1.8em;
      }
    }
  }
}

.Hero3 {
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 60px;
  height: 100%;
  overflow: hidden;

  h5 {
    color: #00b5f3;
  }

  .title {
    display: flex;
    justify-content: center;
    line-height: 1.6em;
    padding-top: 10px;
    text-align: left;
  }

  .grid {
    max-width: 70%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;

    .grid-item {
      display: flex;

      &.essential-guide {
        position: relative;
        left: -23px;
      }

      &.essential-guide .text {
        position: relative;
        left: -15px;
      }

      .icon-box {
        width: 200px;
        height: 100%;
        position: relative;
        top: -20px;
        svg {
          width: 60px;
          height: 100px;
        }
      }

      .text {
        text-align: left;
        padding-left: 15px;
        h2 {
          font-size: 1.1em;
        }

        p {
          font-size: 1em;
          padding-top: 10px;
          line-height: 1.5em;
          color: $text-light;
        }
      }
    }
  }
}

.Hero4 {
  text-align: center;
  background-color: $white;
  padding-top: 60px;
  height: 100%;

  section {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    h2 {
      font-size: 2em;
    }

    button {
      padding: 10px 20px;
      border-radius: 200px;
      background-color: transparent;
      border: 1px solid #cdcbcb;
      font-weight: bold;
    }
  }

  h5 {
    color: #00b5f3;
  }

  .title {
    display: flex;
    justify-content: center;
    line-height: 1.6em;
    padding-top: 10px;
    text-align: left;
  }

  .row {
    margin-top: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .column {
      img {
        overflow: hidden;
        border-radius: 16px;
        object-fit: cover;
        width: 95%;
        height: 220px;

        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0.4em 0.7em;
      }

      // width: 95%;
      .description {
        margin: 1.2em 0;
        text-align: left;
        margin-left: 10px;

        h2 {
          line-height: 1.5em;
          font-size: $font-md;
        }

        p {
          margin: 1em 0;
          color: $text-light;
        }
        a {
          color: $secondary;
          font-weight: bold;
        }

        .webinar {
          color: $secondary;
          font-weight: bold;
        }

        .date {
          font-size: $font-sm;
        }
      }
      width: 100%;
      &.essential-guide,
      &.essential-guide .text {
        position: relative;
        left: -10px;
      }

      .icon-box {
        width: 80px;
        position: relative;
        top: -10px;
        svg {
          width: 60px;
        }
      }

      .text {
        text-align: left;
        padding-left: 15px;
        h2 {
          font-size: 0.9em;
        }

        p {
          font-size: 0.8em;
          padding-top: 10px;
          line-height: 1.5em;
          color: $text-light;
        }
      }
    }
  }
}

.Hero5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -100px;
  margin-bottom: -50px;
  border-radius: 10px;
  @include mobile {
    margin-top: -150px;
  }

  .cta {
    text-align: center;
    background-image: url('../images/membership.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    // height: 300px;
    // overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
    color: $white;
    padding: 2em 0;

    h2 {
      font-size: 2.3rem;
      @include mobile {
        font-size: 1.5rem;
      }
    }

    p {
      padding: 1em 0;
      display: block;
      margin: 0 auto;
      width: 55%;
      text-align: center;
      line-height: 1.5em;
      @include mobile {
        width: 90%;
      }
    }

    button {
      padding: 15px;
      width: 30%;
      margin: 2em 0;
      background-color: $white;
      color: #5a4ba8;
      font-weight: bold;

      @include mobile {
        width: 90%;
        margin-bottom: 2em;
      }
    }
  }
}
