@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import './variables.scss';
@import './Layout/header.scss';
@import './Layout/footer.scss';
@import './home.scss';

// global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

body {
  // background-color: $primary;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: $font-sm;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
