$font-xs: 0.6em;
$font-sm: 0.8em;
$font-md: 1.2em;
$font-lg: 1.4em;
$black: #000;
$white: #fff;
$text-light: #555;
$primary: #ecf9f2;
$secondary: #92cb26;

$mobile: 576px;
$tablet: 768px;
$large-screen: 992px;
