.Footer {
  // position: absolute;
  // bottom: 0;
  padding: $page-padding;

  hr {
    border: none;
    height: 1px;
    color: #979797;
    background-color: #979797;
    opacity: 0.2;
    width: 100vw;
    position: relative;
    left: -100px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin-top: 1em;
    padding: 40px 0;

    .logo-container {
      width: 30%;

      img {
        width: 200px;
      }
    }

    nav {
      margin-right: 1em;

      ul {
        li {
          padding-top: 0.6em;

          a {
            color: $text-light;
            font-size: $font-sm;
          }
        }
      }
    }

    .subscribe {
      .title {
        font-weight: bold;
      }

      .info {
        padding-top: 0.4em;
        max-width: 300px;
        font-size: $font-sm;
        line-height: 1.7em;
      }

      form {
        .form-group {
          display: flex;
          width: 100%;
          position: relative;

          svg {
            position: absolute;
            top: 37px;
            left: 10px;
            color: #92929d;
          }
          input {
            margin-top: 20px;
            padding: 15px;
            padding-left: 30px;
            border: 2px solid #f6f6f7;
            border-radius: 4px;
            outline: none;
            color: #92929d;
            background-color: #f6f6f7;
            width: 100%;
            outline: none;

            &:focus {
              border: 2px solid $secondary;
            }
          }
        }
      }
    }
  }

  .bottom {
    background-color: #4a4a4a;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 5px 100px;
    color: $white;

    position: absolute;
    // bottom: 0;
    left: 0;
    .socials {
      position: relative;
      top: 2px;
      display: flex;
      gap: 10px;

      a {
        color: $white;
      }
    }

    .copyright {
      font-size: $font-sm;
      width: max-content;
    }
  }
}
