.Header {
  background-color: $primary;
  display: flex;
  width: 100%;
  padding: $page-padding;
  padding-top: 20px;

  .logo-container {
    width: 30%;
    @include mobile {
      width: max-content;
    }

    img {
      width: 140px;
    }
  }

  ul {
    @include mobile {
      display: none;
    }

    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      padding: 10px;

      a {
        text-decoration: none;
        color: $black;
        font-size: $font-sm;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul.nav-link {
    width: 40%;
    margin-top: 10px;
  }

  ul.nav-button {
    width: 30%;
    // margin-left: 50px;
    // gap: 2em;
    justify-content: flex-end;

    button {
      padding: 10px 20px;
      width: fit-content;
      width: 120px;
      display: inline-block;

      &.login {
        background-color: transparent;
        color: $secondary;
        border: 1px solid $secondary;
      }

      &.join-us {
        background-color: $secondary;
        color: $white;
        border: 1px solid $secondary;
      }
    }
  }
}
